/*


!/wp-content
/wp-content/*

!/wp-content/themes
/wp-content/themes/*

!/wp-content/themes/underoneroofVs3.1
!/wp-content/themes/underoneroofVs3.1/*

wp-content/themes/underoneroofVs3.1/.DS_Store

!/wp-content/uploads
!/wp-content/uploads/*

!/.gitignore
!/hostbo_demos.sql
!/.htaccess
